{% extends 'placement/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h3 class="text-center mb-4 text-primary">
                Student Registration
            </h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in form %}
                    <div class="mb-3">
                        <label class="form-label fw-semibold">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary w-100">
                    Register Student
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}